@model WebMarket.Models.Product

@{
    ViewData["Title"] = "Thông tin sản phẩm " + Model.ProductName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" asp-area="Admin" asp-controller="Home" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-action="Index" asp-area="Admin" asp-controller="AdminProducts" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Danh sách sản phẩm</a>
            <span class="breadcrumb-item active">@ViewData["Title"]</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">@ViewData["Title"]</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.ProductId</td>
                    </tr>
                    <tr>
                        <td>Tên sản phẩm:</td>
                        <td>@Model.ProductName</td>
                    </tr>
                    <tr>
                        <td>Mô tả ngắn:</td>
                        <td>@Model.ShortDesc</td>
                    </tr>
                    <tr>
                        <td>Giá bán:</td>
                        <td>@Model.Price</td>
                    </tr>
                    <tr>
                        <td>Discount:</td>
                        <td>@Model.Discount</td>
                    </tr>

                    <tr>
                        <td>Active:</td>
                        <td>
                            @if (Model.Active)
                            {
                                <div class="switch d-inline m-r-10">
                                    <input type="checkbox" id="switch-4" disabled="" checked="">
                                    <label for="switch-4"></label>
                                </div>
                            }
                            else
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-3" disabled="">
                                    <label for="switch-3"></label>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>BestSellers:</td>
                        <td>
                            @if (Model.BestSellers)
                            {
                                <div class="switch d-inline m-r-10">
                                    <input type="checkbox" id="switch-4" disabled="" checked="">
                                    <label for="switch-4"></label>
                                </div>
                            }
                            else
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-3" disabled="">
                                    <label for="switch-3"></label>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>HomeFlag:</td>
                        <td>
                            @if (Model.HomeFlag)
                        {
                            <div class="switch d-inline m-r-10">
                                <input type="checkbox" id="switch-4" disabled="" checked="">
                                <label for="switch-4"></label>
                            </div>
                        }
                        else
                        {
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-3" disabled="">
                                <label for="switch-3"></label>
                            </div>
                        }
                        </td>
                    </tr>

                    <tr>
                        <td>Danh mục:</td>
                        <td>@Model.Cat.CatName</td>
                    </tr>
                    <tr>
                        <td>Ngày tạo:</td>
                        <td>@Model.DateCreated</td>
                    </tr>
                    <tr>
                        <td>Ngày chỉnh sửa:</td>
                        <td>@Model.DateModified</td>
                    </tr>
                    <tr>
                        <td>Tiêu đề:</td>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <td>MetaKey:</td>
                        <td>@Model.MetaKey</td>
                    </tr>
                    <tr>
                        <td>MetaDesc:</td>
                        <td>@Model.MetaDesc</td>
                    </tr>
                    <tr>
                        <td>Tags:</td>
                        <td>@Model.Tags</td>
                    </tr>
                    <tr>
                        <td>Ảnh đại diện:</td>
                        <td>
                            <img src="~/images/products/@Model.Thumb" width="200" height="200" alt="@Model.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>Mô tả sản phẩm:</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-info m-r-5"
                               asp-action="Edit" asp-route-id="@Model.ProductId">Sửa</a>
                        </td>
                        <td>
                            <a class="btn btn-primary m-r-5" asp-action="Index">Quay lại</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
